
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
</head>
<body>

<div id="page_top"><a href="#"></a></div>

<div class="main" id ="result">

  <div class="container">
    <% @posts.each do |post| %>
        <div class="posts-index-item">
        <%= link_to(post.title,"/posts/#{post.id}") %>
        </div>

    <% end %>
  </div>
</div>