
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
</head>
<body>

<div id="page_top"><a href="#"></a></div>

<div class="main" id ="result">

  <div class="container">
    <% @posts.each do |post| %>
      <% if @current_user %>
        <div class="posts-index-item">
        <% if post.user_id == @current_user.id %>
        <%= link_to(post.title,"/posts/#{post.id}") %>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>