<div class="main" id="home">
 <div>
 <h1>本検索</h1>
 <%= search_form_for @search, url: posts_result_path do |f| %>
    <%= f.search_field :title_or_author_cont,placeholder: 'キーワード' %>
    <%= f.submit "検索" %>
    <% end %>
 </div>
 <div class="tag">
 <h1>タグ</h1>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 </div>
</div>