<div class="main" id="home">
 <div>
 <h1>本検索</h1>
 <form action="/" method="get">
 <input type="search" class="keyword" name="search" placeholder="キーワードを入力">
 <input type="submit" value="検索">
 </form>
 </div>
 <div class="tag">
 <h1>タグ</h1>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 <p><a href="#">漫画</a></p>
 </div>
</div>